# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/dep
!/docs
!/flatpak
!/python_tests
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!installer.nsi
!SyncEngLocale.ps1
!LICENSE
!README.md
!FLATPAK.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
